NET "clk" LOC = "T9";
NET "AN<0>" LOC = "D14";
NET "AN<1>" LOC = "G14";
NET "AN<2>" LOC = "F14";
NET "AN<3>" LOC = "E13";
NET "ssegdisp<0>" LOC = "E14";
NET "ssegdisp<1>" LOC = "G13";
NET "ssegdisp<2>" LOC = "N15";
NET "ssegdisp<3>" LOC = "P15";
NET "ssegdisp<4>" LOC = "R16";
NET "ssegdisp<5>" LOC = "F13";
NET "ssegdisp<6>" LOC = "N16";
NET "ssegdisp<7>" LOC = "P16";
NET "inputtemp<0>" LOC = "E6";
NET "inputtemp<1>" LOC = "D5";
NET "inputtemp<2>" LOC = "C5";
NET "inputtemp<3>" LOC = "D6";
NET "inputtemp<4>" LOC = "C6";
NET "inputtemp<5>" LOC = "E7";
NET "inputtemp<6>" LOC = "C7";
NET "inputtemp<7>" LOC = "D7";