NET "clk" LOC = "T9";
NET "loadbutton" LOC = "M13";
NET "resetbutton" LOC = "M14";
NET "dataswitches<0>" LOC = "F12";
NET "dataswitches<1>" LOC = "G12";
NET "dataswitches<2>" LOC = "H14";
NET "AN<0>" LOC = "D14";
NET "AN<1>" LOC = "G14";
NET "AN<2>" LOC = "F14";
NET "AN<3>" LOC = "E13";
NET "SSEG<0>" LOC = "E14";
NET "SSEG<1>" LOC = "G13";
NET "SSEG<2>" LOC = "N15";
NET "SSEG<3>" LOC = "P15";
NET "SSEG<4>" LOC = "R16";
NET "SSEG<5>" LOC = "F13";
NET "SSEG<6>" LOC = "N16";
NET "SSEG<7>" LOC = "P16";